body {
  background-image: url(./images/interlaced.png);
  background-size: auto;
}
.navbar-name {
  font-family: "Staatliches", cursive;
  font-size: 200%;
  line-height: 1;
}

.content {
  background-color: white;
}

#headshot {
  width: 200px;
  height: 200px;
}

#hey {
  font-size: calc(1.2rem + 0.4vw);
}

.footer-text {
  font-size: 12px;
}
