body {
  background-image: url(./images/interlaced.png);
  background-size: auto;
}

.content {
  background-color: white;
}

#headshot {
  width: 200px;
  height: 200px;
}

.footer-text {
  font-size: 12px;
}
