body {
	background-image: url(./images/interlaced.png);
	background-size: auto;
}

a {
	color: #212529;
}

.navbar-name {
	font-family: 'Staatliches', cursive;
	font-size: 200%;
	line-height: 1;
}

.content {
	background-color: white;
}

.contact-icon {
	width: 50px;
	margin-right: 20px;
	margin-bottom: 15px;
}

.contact-text {
	font-size: 20px;
}

.portfolio-ss {
	width: 300px;
}

#headshot {
	width: 200px;
	height: 200px;
}

#hey {
	font-size: calc(1.2rem + 0.4vw);
}
