a {
	color: #212529;
}

.navbar-brand {
	font-family: "Staatliches", cursive;
	font-size: 200%;
	line-height: 1;
}

.content {
	background-color: white;
}

.contact-icon {
	width: 40px;
	margin-right: 10px;
	margin-bottom: 15px;
}

.contact-text {
	font-size: 16px;
}

.portfolio-ss {
	width: 300px;
}

#headshot {
	max-width: 100%;
}

#hey {
	font-size: calc(1rem + 2.5vw);
}
